.card-list {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20$ 20$ 20$ 20$ 20$;
    grid-gap: 20px;
}

.a {
    line-height: 25px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    color: black;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #44aaff
}

.add-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.container {
    display: grid;
    grid-template-rows: 20$ 20$ 20$ 20$ 20$;
}

.button-container {
    display: grid;
    grid-gap: 3px;
}